#projects-section {
    padding-block: 32px;
    gap: 16px;
    & > span {
        color: var(--red);
    }
}
#projects {
    margin-top: 3em;
    padding-inline: 20vh;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    a {
        padding: 8px;
        text-decoration: none;
        max-width: 400px;
        border-radius: 12px;
        background-color: var(--interface-color);
        span {
            display: inline-block;
            margin-top: 8px;
            color: var(--red);
            background-color: var(--bg-color);
            padding: 4px;
            border-radius: 8px;
        }
        img {
            max-width: 100%;
            border-radius: 12px;
        }
    }
}
#services {
    gap: 12px;
    width: 100%;
    padding-block: 50px 100px;
    background-color: var(--secondary-bg-color);
    & > div {
        margin-top: 24px;
        gap: 16px;
        div {
            max-width: 350px;
            height: 180px;
            padding: 16px;
            border-radius: 8px;
            gap: 8px;
            img {
                width: 15%;
            }
        }
        & div:nth-child(1) {
            border: 3px solid var(--purple);
        }
        & div:nth-child(2) {
            border: 3px solid var(--yellow);
        }
        & div:nth-child(3) {
            border: 3px solid var(--green);
        }
    }
}