#projects-section {
    padding-block: 32px;
    gap: 16px;
    & > span {
        color: var(--red);
    }
}
#projects {
    margin-top: 3em;
    padding-inline: 20vh;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    a {
        padding: 8px;
        text-decoration: none;
        max-width: 400px;
        border-radius: 12px;
        background-color: var(--interface-color);
        span {
            display: inline-block;
            margin-top: 8px;
            color: var(--red);
            background-color: var(--bg-color);
            padding: 4px;
            border-radius: 8px;
        }
        img {
            max-width: 100%;
            border-radius: 12px;
        }
    }
}